Repository rapidsai/rapids-cmake, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rapids-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Pin to CPM 0.40.2 to work around https://github.com/cpm-cmake/CPM.cmake/issues/637
  rapids-cmake/cpm/detail/download.cmake
  testing/cpm/cpm_find-and-find_package/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Correctly query for the state of override_ignored
  rapids-cmake/cpm/detail/package_details.cmake
Owners: @rapidsai/rapids-cmake-codeowners

REL v25.02.01 release
  docs/conf.py
Owners: @rapidsai/rapids-cmake-codeowners

Use CTest dynamic resource spec generation
  rapids-cmake/test/detail/generate_installed_CTestTestfile.cmake
  rapids-cmake/test/detail/generate_resource_spec.cpp
  rapids-cmake/test/detail/generate_resource_spec/CMakeLists.txt
  rapids-cmake/test/detail/run_gpu_test.cmake
  rapids-cmake/test/generate_resource_spec.cmake
  rapids-cmake/test/gpu_requirements.cmake
  rapids-cmake/test/init.cmake
  rapids-cmake/test/install_relocatable.cmake
  testing/test/CMakeLists.txt
  testing/test/generate_resource_spec-no-gpus/CMakeLists.txt
  testing/test/generate_resource_spec-no-gpus/read_spec_file.cmake
  testing/test/init-simple.cmake
  testing/test/install_relocatable-complex/main.cu
  testing/test/install_relocatable-complex/tests/CMakeLists.txt
  testing/test/install_relocatable-include-in-all.cmake
  testing/test/install_relocatable-installed-tests-run-lazy-msg/CMakeLists.txt
  testing/test/install_relocatable-installed-tests-run/CMakeLists.txt
  testing/test/install_relocatable-labels.cmake
  testing/test/install_relocatable-simple.cmake
  testing/test/install_relocatable-with-gtest_discover_tests.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Test the value from rapids-cmake properties set instead they are just set
  testing/cpm/cpm_package_override-obey-cpm-source-var.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Correct range of versions in docs
  rapids-cmake/cpm/package_override.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Correct range of versions in docs
  rapids-cmake/cpm/package_override.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Sanitize patch inputs so that quotes are properly escaped
  rapids-cmake/cpm/detail/convert_patch_json.cmake
  testing/cpm/cpm_convert_patch_json-special-chars.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Rollback to CPM 0.40.0
  rapids-cmake/cpm/detail/download.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Rollback to CPM 0.40.0 (#789)
  rapids-cmake/cpm/detail/download.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Fix version
  rapids-cmake/cpm/package_override.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Sanitize patch inputs so that quotes are properly escaped (#787)
  rapids-cmake/cpm/detail/convert_patch_json.cmake
  testing/cpm/cpm_convert_patch_json-special-chars.cmake
Owners: @rapidsai/rapids-cmake-codeowners

remove unneeded conditional
  rapids-cmake/cpm/package_override.cmake
Owners: @rapidsai/rapids-cmake-codeowners

rapids_cpm_package_override: Always load overrides (#778)
  rapids-cmake/cpm/detail/package_details.cmake
  rapids-cmake/cpm/package_override.cmake
  testing/cpm/cpm_package_override-obey-cpm-source-var.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Add test
  testing/cython-core/cython-core_create_modules_component/CMakeLists.txt
  testing/cython-core/cython-core_create_modules_component/check_installed_components.cmake
  testing/cython-core/cython-core_create_modules_component/test1.pyx
  testing/cython-core/cython-core_create_modules_component/test2.pyx
Owners: @rapidsai/rapids-cmake-codeowners

CI, small logic change
  rapids-cmake/cython-core/create_modules.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Fix copyright year.
  testing/cython-core/cython-core_create_modules_component/check_installed_components.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Add support for components in Cython `rapids_cython_create_modules` (#783)
  rapids-cmake/cython-core/create_modules.cmake
  testing/cython-core/CMakeLists.txt
  testing/cython-core/cython-core_create_modules_component/CMakeLists.txt
  testing/cython-core/cython-core_create_modules_component/check_installed_components.cmake
  testing/cython-core/cython-core_create_modules_component/test1.pyx
  testing/cython-core/cython-core_create_modules_component/test2.pyx
Owners: @rapidsai/rapids-cmake-codeowners

Remove now superfluous fmt patch
  rapids-cmake/cpm/patches/fmt/fix_11_0_2_unreachable_loop.diff
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Remove now superfluous fmt patch (#790)
  rapids-cmake/cpm/patches/fmt/fix_11_0_2_unreachable_loop.diff
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Add support for Python 3.13.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Also download fmt when building nvbench
  rapids-cmake/cpm/nvbench.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Use CTest dynamic resource spec generation (#786)
  rapids-cmake/test/detail/generate_installed_CTestTestfile.cmake
  rapids-cmake/test/detail/generate_resource_spec.cpp
  rapids-cmake/test/detail/generate_resource_spec/CMakeLists.txt
  rapids-cmake/test/detail/run_gpu_test.cmake
  rapids-cmake/test/generate_resource_spec.cmake
  rapids-cmake/test/gpu_requirements.cmake
  rapids-cmake/test/init.cmake
  rapids-cmake/test/install_relocatable.cmake
  testing/test/CMakeLists.txt
  testing/test/generate_resource_spec-no-gpus/CMakeLists.txt
  testing/test/generate_resource_spec-no-gpus/read_spec_file.cmake
  testing/test/init-simple.cmake
  testing/test/install_relocatable-complex/main.cu
  testing/test/install_relocatable-complex/tests/CMakeLists.txt
  testing/test/install_relocatable-include-in-all.cmake
  testing/test/install_relocatable-installed-tests-run-lazy-msg/CMakeLists.txt
  testing/test/install_relocatable-installed-tests-run/CMakeLists.txt
  testing/test/install_relocatable-labels.cmake
  testing/test/install_relocatable-simple.cmake
  testing/test/install_relocatable-with-gtest_discover_tests.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Suppress warning
  rapids-cmake/cpm/nvbench.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Also download fmt when building nvbench statically (#792)
  rapids-cmake/cpm/nvbench.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Update to CCCL 2.8.0
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Backport CCCL patch to 2.8.0
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Bump CCCL to 2.8.1
  rapids-cmake/cpm/patches/cccl/backport-suppress-execution-checks.patch
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Update versions.json
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

DOC v25.06 Updates [skip ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  RAPIDS.cmake
  ci/build_docs.sh
  docs/basics.rst
  docs/conf.py
  rapids-cmake/rapids-version.cmake
Owners: @rapidsai/ci-codeowners, @rapidsai/rapids-cmake-codeowners

Update gtest version
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Bump to 1.16
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Update gtest version (#795)
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Use 2.8.2.
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Add build patch functionality
  rapids-cmake/cpm/bs_thread_pool.cmake
  rapids-cmake/cpm/cccl.cmake
  rapids-cmake/cpm/cuco.cmake
  rapids-cmake/cpm/detail/generate_patch_command.cmake
  rapids-cmake/cpm/find.cmake
  rapids-cmake/cpm/fmt.cmake
  rapids-cmake/cpm/gbench.cmake
  rapids-cmake/cpm/gtest.cmake
  rapids-cmake/cpm/nvbench.cmake
  rapids-cmake/cpm/nvcomp.cmake
  rapids-cmake/cpm/nvtx3.cmake
  rapids-cmake/cpm/package_override.cmake
  rapids-cmake/cpm/rapids_logger.cmake
  rapids-cmake/cpm/rmm.cmake
  rapids-cmake/cpm/spdlog.cmake
  testing/cpm/CMakeLists.txt
  testing/cpm/cpm_generate_patch_command-build.cmake
  testing/cpm/cpm_generate_patch_command-current_json_dir.cmake
  testing/cpm/cpm_generate_patch_command-invalid.cmake
  testing/cpm/cpm_generate_patch_command-override-case-insensitive.cmake
  testing/cpm/cpm_generate_patch_command-override.cmake
  testing/cpm/cpm_generate_patch_command-verify-copyright-header.cmake
  testing/cpm/cpm_package_override-empty-patches.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Add rapids_cpm_find() test
  rapids-cmake/cpm/find.cmake
  testing/cpm/CMakeLists.txt
  testing/cpm/cpm_find-build-patch/CMakeLists.txt
  testing/cpm/cpm_find-build-patch/modules/Findtest_pkg.cmake
  testing/cpm/cpm_find-build-patch/override.json
Owners: @rapidsai/rapids-cmake-codeowners

Fix copyright
  testing/cpm/cpm_generate_patch_command-build.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Fix docs
  rapids-cmake/cpm/detail/generate_patch_command.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Add another check
  testing/cpm/cpm_find-build-patch/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Remove debugging statements
  rapids-cmake/cpm/find.cmake
Owners: @rapidsai/rapids-cmake-codeowners

.github/CODEOWNERS:

#cmake code owners
CMakeLists.txt        @rapidsai/rapids-cmake-codeowners
*.cmake               @rapidsai/rapids-cmake-codeowners
**/cmake/             @rapidsai/rapids-cmake-codeowners
/docs/                @rapidsai/rapids-cmake-codeowners
/example/             @rapidsai/rapids-cmake-codeowners
/rapids-cmake/        @rapidsai/rapids-cmake-codeowners
/testing/             @rapidsai/rapids-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners
