Repository rapidsai/rapids-cmake, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rapids-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cmake code owners
CMakeLists.txt        @rapidsai/rapids-cmake-codeowners
*.cmake               @rapidsai/rapids-cmake-codeowners
**/cmake/             @rapidsai/rapids-cmake-codeowners
/docs/                @rapidsai/rapids-cmake-codeowners
/example/             @rapidsai/rapids-cmake-codeowners
/rapids-cmake/        @rapidsai/rapids-cmake-codeowners
/testing/             @rapidsai/rapids-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners

Set correct compiler feature for `generate_ctest_json`
  rapids-cmake/test/generate_resource_spec.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Add docs for build field
  docs/cpm.rst
Owners: @rapidsai/rapids-cmake-codeowners

Add cuda_std_17 to test
  testing/test/install_relocatable-complex/tests/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Set correct compiler feature for `generate_ctest_json` (#802)
  rapids-cmake/test/generate_resource_spec.cmake
  testing/test/install_relocatable-complex/tests/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Add build patch functionality (#801)
  docs/cpm.rst
  rapids-cmake/cpm/bs_thread_pool.cmake
  rapids-cmake/cpm/cccl.cmake
  rapids-cmake/cpm/cuco.cmake
  rapids-cmake/cpm/detail/generate_patch_command.cmake
  rapids-cmake/cpm/find.cmake
  rapids-cmake/cpm/fmt.cmake
  rapids-cmake/cpm/gbench.cmake
  rapids-cmake/cpm/gtest.cmake
  rapids-cmake/cpm/nvbench.cmake
  rapids-cmake/cpm/nvcomp.cmake
  rapids-cmake/cpm/nvtx3.cmake
  rapids-cmake/cpm/package_override.cmake
  rapids-cmake/cpm/rapids_logger.cmake
  rapids-cmake/cpm/rmm.cmake
  rapids-cmake/cpm/spdlog.cmake
  testing/cpm/CMakeLists.txt
  testing/cpm/cpm_find-build-patch/CMakeLists.txt
  testing/cpm/cpm_find-build-patch/modules/Findtest_pkg.cmake
  testing/cpm/cpm_find-build-patch/override.json
  testing/cpm/cpm_generate_patch_command-build.cmake
  testing/cpm/cpm_generate_patch_command-current_json_dir.cmake
  testing/cpm/cpm_generate_patch_command-override-case-insensitive.cmake
  testing/cpm/cpm_generate_patch_command-override.cmake
  testing/cpm/cpm_generate_patch_command-verify-copyright-header.cmake
  testing/cpm/cpm_package_override-empty-patches.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Backport build patch functionality
  docs/cpm.rst
  rapids-cmake/cpm/bs_thread_pool.cmake
  rapids-cmake/cpm/cccl.cmake
  rapids-cmake/cpm/cuco.cmake
  rapids-cmake/cpm/detail/generate_patch_command.cmake
  rapids-cmake/cpm/find.cmake
  rapids-cmake/cpm/fmt.cmake
  rapids-cmake/cpm/gbench.cmake
  rapids-cmake/cpm/gtest.cmake
  rapids-cmake/cpm/nvbench.cmake
  rapids-cmake/cpm/nvcomp.cmake
  rapids-cmake/cpm/nvtx3.cmake
  rapids-cmake/cpm/package_override.cmake
  rapids-cmake/cpm/rapids_logger.cmake
  rapids-cmake/cpm/rmm.cmake
  rapids-cmake/cpm/spdlog.cmake
  testing/cpm/CMakeLists.txt
  testing/cpm/cpm_find-build-patch/CMakeLists.txt
  testing/cpm/cpm_find-build-patch/modules/Findtest_pkg.cmake
  testing/cpm/cpm_find-build-patch/override.json
  testing/cpm/cpm_generate_patch_command-build.cmake
  testing/cpm/cpm_generate_patch_command-current_json_dir.cmake
  testing/cpm/cpm_generate_patch_command-override-case-insensitive.cmake
  testing/cpm/cpm_generate_patch_command-override.cmake
  testing/cpm/cpm_generate_patch_command-verify-copyright-header.cmake
  testing/cpm/cpm_package_override-empty-patches.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Backport build patch functionality (#805)
  docs/cpm.rst
  rapids-cmake/cpm/bs_thread_pool.cmake
  rapids-cmake/cpm/cccl.cmake
  rapids-cmake/cpm/cuco.cmake
  rapids-cmake/cpm/detail/generate_patch_command.cmake
  rapids-cmake/cpm/find.cmake
  rapids-cmake/cpm/fmt.cmake
  rapids-cmake/cpm/gbench.cmake
  rapids-cmake/cpm/gtest.cmake
  rapids-cmake/cpm/nvbench.cmake
  rapids-cmake/cpm/nvcomp.cmake
  rapids-cmake/cpm/nvtx3.cmake
  rapids-cmake/cpm/package_override.cmake
  rapids-cmake/cpm/rapids_logger.cmake
  rapids-cmake/cpm/rmm.cmake
  rapids-cmake/cpm/spdlog.cmake
  testing/cpm/CMakeLists.txt
  testing/cpm/cpm_find-build-patch/CMakeLists.txt
  testing/cpm/cpm_find-build-patch/modules/Findtest_pkg.cmake
  testing/cpm/cpm_find-build-patch/override.json
  testing/cpm/cpm_generate_patch_command-build.cmake
  testing/cpm/cpm_generate_patch_command-current_json_dir.cmake
  testing/cpm/cpm_generate_patch_command-override-case-insensitive.cmake
  testing/cpm/cpm_generate_patch_command-override.cmake
  testing/cpm/cpm_generate_patch_command-verify-copyright-header.cmake
  testing/cpm/cpm_package_override-empty-patches.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Define -DCUB_DISABLE_NAMESPACE_MAGIC -DCUB_IGNORE_NAMESPACE_MAGIC_ERROR in rapids_cpm_cccl
  rapids-cmake/cpm/cccl.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Demonstrate issue with NVTX3 export
  testing/cpm/CMakeLists.txt
  testing/cpm/cpm_nvtx-build-config-subdir/CMakeLists.txt
  testing/cpm/cpm_nvtx-build-config-subdir/subdir1/CMakeLists.txt
  testing/cpm/cpm_nvtx-build-config-subdir/subdir2/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Add comment
  testing/cpm/cpm_nvtx-build-config-subdir/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Add `rapids_download_with_retry` function
  rapids-cmake/cmake/download_with_retry.cmake
  rapids-cmake/rapids-cmake.cmake
Owners: @rapidsai/rapids-cmake-codeowners

CPM download with retry
  rapids-cmake/cpm/detail/download.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Fix issues, demonstrate with working branch
  rapids-cmake/cpm/nvtx3.cmake
  rapids-cmake/cpm/versions.json
  testing/cpm/cpm_nvtx-build-config-subdir/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Remove comment
  testing/cpm/cpm_nvtx-build-config-subdir/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Fix docstrings
  rapids-cmake/cmake/download_with_retry.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Add missing include
  rapids-cmake/cpm/detail/download.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Add tests
  testing/cmake/CMakeLists.txt
  testing/cmake/download_with_retry-basic.cmake
  testing/cmake/download_with_retry-overwrite.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Fix cpm_nvtx-build-config-works
  testing/cpm/cpm_nvtx-build-config-works.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Add cpm_nvtx-install-config-subdir
  testing/cpm/CMakeLists.txt
  testing/cpm/cpm_nvtx-install-config-subdir/CMakeLists.txt
  testing/cpm/cpm_nvtx-install-config-subdir/subdir1/CMakeLists.txt
  testing/cpm/cpm_nvtx-install-config-subdir/subdir2/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

refactor(conda): remove unused conda package and associated CI resources
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_cpp.sh
  conda/recipes/rapids_core_dependencies/CMakeLists.txt
  conda/recipes/rapids_core_dependencies/build.sh
  conda/recipes/rapids_core_dependencies/conda_build_config.yaml
  conda/recipes/rapids_core_dependencies/meta.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

remove dependence on `conda-cpp-build`
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Validate downloaded file with provided md5
  rapids-cmake/cmake/download_with_retry.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Pass the md5 to `rapids_download_with_retry` in CPM download
  rapids-cmake/cpm/detail/download.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Update tests
  testing/cmake/download_with_retry-basic.cmake
  testing/cmake/download_with_retry-overwrite.cmake
  testing/cmake/test_files/test1.txt
  testing/cmake/test_files/test2.txt
Owners: @rapidsai/rapids-cmake-codeowners

refactor(conda): remove unused conda package and associated CI resources (#810)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_cpp.sh
  conda/recipes/rapids_core_dependencies/CMakeLists.txt
  conda/recipes/rapids_core_dependencies/build.sh
  conda/recipes/rapids_core_dependencies/conda_build_config.yaml
  conda/recipes/rapids_core_dependencies/meta.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Adjust download URL to specific commit
  testing/cmake/download_with_retry-basic.cmake
  testing/cmake/download_with_retry-overwrite.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Use merged version of NVTX
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Fix NVTX3 export (#804)
  rapids-cmake/cpm/nvtx3.cmake
  rapids-cmake/cpm/versions.json
  testing/cpm/CMakeLists.txt
  testing/cpm/cpm_nvtx-build-config-subdir/CMakeLists.txt
  testing/cpm/cpm_nvtx-build-config-subdir/subdir1/CMakeLists.txt
  testing/cpm/cpm_nvtx-build-config-subdir/subdir2/CMakeLists.txt
  testing/cpm/cpm_nvtx-install-config-subdir/CMakeLists.txt
  testing/cpm/cpm_nvtx-install-config-subdir/subdir1/CMakeLists.txt
  testing/cpm/cpm_nvtx-install-config-subdir/subdir2/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Switch from MD5 to SHA256
  rapids-cmake/cmake/download_with_retry.cmake
  testing/cmake/download_with_retry-basic.cmake
  testing/cmake/download_with_retry-overwrite.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Disable git_shallow for nvtx3
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Disable git_shallow for bs_thread_pool too
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Update CPM.cmake hash
  rapids-cmake/cpm/detail/download.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Use hashes instead of tags
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Disable git_shallow for nvtx3 and bs_thread_pool (#811)
  rapids-cmake/cpm/versions.json
Owners: @rapidsai/rapids-cmake-codeowners

Allow hashes in verify_generated_pins()
  testing/cpm/verify_generated_pins/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Add back tag where needed
  testing/cpm/cpm_init-override-multiple.cmake
  testing/cpm/cpm_package_override-defaults-with-different-casing.cmake
  testing/cpm/cpm_package_override-multiple-cmake-var.cmake
  testing/cpm/cpm_package_override-multiple.cmake
  testing/cpm/cpm_package_override-simple.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Include download_with_retry.cmake in the exported dependencies
  rapids-cmake/export/write_dependencies.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Use custom default file where needed
  testing/cpm/cpm_init-override-multiple.cmake
  testing/cpm/cpm_package_override-defaults-with-different-casing.cmake
  testing/cpm/cpm_package_override-simple.cmake
Owners: @rapidsai/rapids-cmake-codeowners

Use hashes instead of tags (#812)
  rapids-cmake/cpm/versions.json
  testing/cpm/cpm_init-override-multiple.cmake
  testing/cpm/cpm_package_override-defaults-with-different-casing.cmake
  testing/cpm/cpm_package_override-multiple-cmake-var.cmake
  testing/cpm/cpm_package_override-multiple.cmake
  testing/cpm/cpm_package_override-simple.cmake
  testing/cpm/verify_generated_pins/CMakeLists.txt
Owners: @rapidsai/rapids-cmake-codeowners

Attempt to fix inclusion
  rapids-cmake/cpm/detail/download.cmake
  rapids-cmake/export/write_dependencies.cmake
Owners: @rapidsai/rapids-cmake-codeowners
