Repository rapidsai/rapids-cmake, pull requests merged in 2022-06, with the labels that each got.

#202 rapids_cpm_rmm no longer install when no INSTALL_EXPORT_SET listed
  rapids-cmake/cpm/rmm.cmake
Labels: feature request, non-breaking, 3 - Ready for Review

#204 Fix docs: default behavior is to use a shallow git clone.
  docs/packages/rapids_cpm_versions.rst
Labels: doc, non-breaking, 3 - Ready for Review

#203 rapids-cmake won't ever use an existing variable starting with RAPIDS_
  .github/PULL_REQUEST_TEMPLATE.md
  rapids-cmake/cmake/detail/compute_git_info.cmake
  rapids-cmake/cmake/template/git_revision.hpp.in
  rapids-cmake/cmake/template/version.hpp.in
  rapids-cmake/cmake/write_git_revision_file.cmake
  rapids-cmake/cmake/write_version_file.cmake
  rapids-cmake/cpm/find.cmake
  rapids-cmake/cpm/init.cmake
  rapids-cmake/cpm/libcudacxx.cmake
  rapids-cmake/cpm/nvcomp.cmake
  rapids-cmake/cpm/thrust.cmake
  rapids-cmake/cuda/detail/invoke_set_all_architectures.cmake
  rapids-cmake/cuda/detail/invoke_set_native_architectures.cmake
  rapids-cmake/cuda/init_architectures.cmake
  rapids-cmake/cython/create_modules.cmake
  rapids-cmake/export/cpm.cmake
  rapids-cmake/export/export.cmake
  rapids-cmake/export/package.cmake
  rapids-cmake/export/template/config.cmake.in
  rapids-cmake/export/template/cpm.cmake.in
  rapids-cmake/export/template/dependencies.cmake.in
  rapids-cmake/export/write_dependencies.cmake
  rapids-cmake/find/generate_module.cmake
  rapids-cmake/find/package.cmake
  rapids-cmake/find/template/find_module.cmake.in
Labels: bug, non-breaking, 3 - Ready for Review

#205 Docs/remove doc warnings
  docs/api.rst
  rapids-cmake/export/package.cmake
Labels: doc, non-breaking, 3 - Ready for Review

#207 Minor typo fix in api.rst
  docs/api.rst
Labels: doc, non-breaking
